/ZASMview/Debug/zasmview.dll.embed.manifest
/ZASMview/Debug/zasmview.dll.embed.manifest.res
/ZASMview/Debug/zasmview.dll.intermediate.manifest
/ZASMview/Debug/zasmview.exp
/ZASMview/Debug/zasmview.lastbuildstate
/ZASMview/Debug/zasmview_manifest.rc
/ZASMview/Release/zasmview.exp
/ZASMview/Release/zasmview.lastbuildstate
/ZASMview/Release/zasmview.wlx.intermediate.manifest
/ZASMview/Release/zasmview.wlx64.intermediate.manifest
/ZASMview/ipch/zasmview-caebac98/zasmview-5f2fe3c6.ipch
/distrib
/ALASMview/*.sdf
